body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

.container {
  padding: 20px;
}

.cards-container {
  max-width: 1152px;
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
  gap: 32px;
}

@media screen and (max-width: 1024px) {
  .cards-container {
    
    gap: 0;
  }
}

.card-basic, .card-master, .card-Pro {
  width: 100%;
  padding: 32px;
  border-radius: 8px;
  background-color: white;
  /* box-shadow: 0 1px 3px 0 rgb(rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)); */
  box-shadow: 0 0 2px 0 black, 0 0 1px -1px black;
}

.card-title {
  font-size: 20px;
  line-height: 28px;
  color: #1E293B;
  margin-bottom: 1.25rem;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(30 41 59);
  font-size: 48px;
  line-height: 1px;
}

.card-price span {
  font-size: 30px;
  /* line-height: 36px; */
  margin-right: 10px;
}

.card-description {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  color: rgb(71 85 105);
  margin: 32px 0;
}

.card-text {
  margin: 2px;
  padding: 15px;
}

.border-t-b {
  border-top: 1px solid rgb(203 213 225);
  border-bottom: 1px solid rgb(203 213 225);
  /* margin-bottom: 20px; */
}

.border-t {
  border-top: 1px solid rgb(203 213 225);
}

.linear-gradient {
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

}

.pro-title, .pro-price, .pro-dec {
  color: white;
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
  border-radius: 8px;
}

.btn-pro {
  border: 2px solid white;
  background: white;
  color: rgb(30 41 59);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.btn-pro:hover {
  background: transparent;
  color: white;
}

.btn-dark {
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  border: none;
  padding: 10px;
  /* transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms */
}

.btn-dark:hover {
  background: transparent;
  color: blue;
  border: 2px solid blue;
}

