@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: hsl(240, 78%, 98%);
}

.bg-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.bg-width {
  width: 100%;
  max-width: 100%;
}

.bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.container {
  padding: 20px;
}

.header-title {
  color: rgb(30 41 59);
  margin-bottom: 32px;
  font-size: 36px;
}

.toggle-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.checkbox {
  display: none;
}

.toggle-holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 25px;
  width: 50px;
  padding: 3px;
  border-radius: 50px;
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.toggle {
  position: absolute;
  top: 2;
  left: 2;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.15s linear;
}

.checkbox:checked + .toggle-holder .toggle {
  transform: translateX(24px);
}

.cards-container {
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-basic, .card-master, .card-Pro {
  padding: 32px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 2px 0 black, 0 0 1px -1px black;
}

.card-title {
  font-size: 20px;
  line-height: 28px;
  color: #1E293B;
  margin-bottom: 1.25rem;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(30 41 59);
  font-size: 48px;
  line-height: 1px;
}

.card-price span {
  font-size: 30px;
  margin-right: 10px;
}

.card-description {
  display: flex;
  flex-direction: column;
  color: rgb(71 85 105);
  margin: 32px 0;
}

.card-text {
  margin: 2px;
  padding: 15px;
}

.border-t-b {
  border-top: 1px solid rgb(203 213 225);
  border-bottom: 1px solid rgb(203 213 225);
}

.border-t {
  border-top: 1px solid rgb(203 213 225);
}

.linear-gradient {
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

}

.pro-title, .pro-price, .pro-dec {
  color: white;
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
  border-radius: 8px;
}

.btn-pro {
  border: 2px solid white;
  background: white;
  color: rgb(30 41 59);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.btn-pro:hover {
  background: transparent;
  color: white;
}

.btn-dark {
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  border: none;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 100%);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.btn-dark:hover {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
  color: hsl(237, 63%, 64%);
  border: 2px solid rgb(216, 216, 236);
}

/* media query */
@media (min-width: 1024px) {
  .cards-container {
    flex-wrap: nowrap;
    gap: 0;
  }
  
  .card-basic, .card-master, .card-Pro {
    width: 100%;
  }
  
  .prof {
    transform: scale(1.10);
  }
}

@media (width: 768px) {
  .card-basic, .card-master, .card-Pro {
    width: 45%;
  }
}

